.container-tarefas {
    background-color: #f0f8ff; /* Azul clarinho */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container-tarefas h2 {
    color: #333;
    text-align: center;
  }
  
  .container-tarefas ul {
    list-style-type: none;
    padding: 0;
  }
  
  .container-tarefas li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  
  .container-tarefas li:last-child {
    border-bottom: none;
  }
  